{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
        body {
            --body-quiet-color: #000;
            --darkened-bg: #fff;
            --body-fg: #212121;
            --body-loud-color: #212121;
            --hairline-color: #9e9e9e;
            --selected-row: #eeeeef;
        }

        .app-list {
            column-count: 1 !important;
        }

        .object-tools a:link, .object-tools a:visited {
            background: #fff;
            color: #000;
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            border-radius: 7px;
            font-size: 12px;
        }
        .fixed-action-btn a{
            border-radius: 50% !important;
        }

        .object-tools a:hover {
            background: #212121;
            color: #fff;
        }

        .object-tools li {
            display: block;
            text-align: center;
            margin-right: 10px;
            height: auto;
            margin-left: 0;
        }

        .object-tools {
            float: none !important;
        }

        .btn-floating i {
            color: #0f0f0f;
            width: auto;
        }

        .btn-floating:hover i {
            color: #fff;
        }

        .change-form #content {
            padding: 40px !important;
            display: block;
        }

        tr.selected th a, tr.selected td a {
                color: #417690;
        }

        .form-row, .submit-row {
            border: none;
        }

        [type=checkbox]:checked + span:not(.lever):before {
            border-right: 2px solid #417690;
            border-bottom: 2px solid #417690;
        }
        .action-checkbox-column [type=checkbox]:checked + span:not(.lever):before{
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
        }

        fieldset.module, .submit-row {
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        }
        #changelist-filter, #toolbar.actions, .actions {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}